.svg-icon {
  // display: inline-block;
  width: 10rem;
  height: 10rem;
  stroke-width: 0.25;
  // stroke: currentColor;
  // stroke: #3330f9;
  fill: currentColor;

  &-arrow-with-circle-left {
    color: #f881ca;
    // fill: var(--grey-50);
  }
}
